.top
    .credit-card
        .icon
        | 4578 Marmora Road
    .clock
        .icon
        | Mon - Fri: 9:00AM - 5:00PM
        span |
        | Sat - Sun: Closed
    .contacts
        .icon
        | +91 123 456 7890
